Convenios_Site/App_WebReferences/AuxiliaresWS/AuxiliaresWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://AnsesConveniosInternacionalesX5.anses.gov.ar" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://AnsesConveniosInternacionalesX5.anses.gov.ar" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://AnsesConveniosInternacionalesX5.anses.gov.ar">
      <s:element name="VersionSistema">
        <s:complexType />
      </s:element>
      <s:element name="VersionSistemaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VersionSistemaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerPrestaciones">
        <s:complexType />
      </s:element>
      <s:element name="TraerPrestacionesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerPrestacionesResult" type="tns:ArrayOfPrestacion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPrestacion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Prestacion" nillable="true" type="tns:Prestacion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Prestacion">
        <s:complexContent mixed="false">
          <s:extension base="tns:Disposed">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Cod_Prestacion" type="s:short" />
              <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Disposed" />
      <s:element name="TraerTiposTramiteConvenios">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codPais" type="s:short" />
            <s:element minOccurs="1" maxOccurs="1" name="codPrestacion" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraerTiposTramiteConveniosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraerTiposTramiteConveniosResult" type="tns:ArrayOfTiposTramiteConvenios" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTiposTramiteConvenios">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TiposTramiteConvenios" nillable="true" type="tns:TiposTramiteConvenios" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TiposTramiteConvenios">
        <s:complexContent mixed="false">
          <s:extension base="tns:Disposed">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="TipoTram" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Comentario" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="TraeTramitesDerivados">
        <s:complexType />
      </s:element>
      <s:element name="TraeTramitesDerivadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraeTramitesDerivadosResult" type="tns:ArrayOfTramitesderivados" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTramitesderivados">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Tramitesderivados" nillable="true" type="tns:Tramitesderivados" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Tramitesderivados">
        <s:complexContent mixed="false">
          <s:extension base="tns:Disposed">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdTipoTrDerivado" type="s:unsignedByte" />
              <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="Traer_TipoIngreso">
        <s:complexType />
      </s:element>
      <s:element name="Traer_TipoIngresoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Traer_TipoIngresoResult" type="tns:ArrayOfTipoIngreso" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTipoIngreso">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TipoIngreso" nillable="true" type="tns:TipoIngreso" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TipoIngreso">
        <s:complexContent mixed="false">
          <s:extension base="tns:Disposed">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="IdTipoIngreso" type="s:unsignedByte" />
              <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="TraePaises2">
        <s:complexType />
      </s:element>
      <s:element name="TraePaises2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraePaises2Result" type="tns:ArrayOfPais2" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfPais2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Pais2" nillable="true" type="tns:Pais2" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Pais2">
        <s:complexContent mixed="false">
          <s:extension base="tns:Disposed">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Codigo3C" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Continente" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Region" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LocalName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="GovernmentForm" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Capital" nillable="true" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Codigo2C" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="TraeCiudadesExtXPais">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="codPais3c" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraeCiudadesExtXPaisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraeCiudadesExtXPaisResult" type="tns:ArrayOfCiudad" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCiudad">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Ciudad" nillable="true" type="tns:Ciudad" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Ciudad">
        <s:complexContent mixed="false">
          <s:extension base="tns:Disposed">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodPais3C" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="District" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EstadoCiudad" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="TraeSectores">
        <s:complexType />
      </s:element>
      <s:element name="TraeSectoresResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraeSectoresResult" type="tns:ArrayOfSector" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSector">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Sector" nillable="true" type="tns:Sector" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Sector">
        <s:complexContent mixed="false">
          <s:extension base="tns:Disposed">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Cod_sector" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="TraeTipoApoderado">
        <s:complexType />
      </s:element>
      <s:element name="TraeTipoApoderadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraeTipoApoderadoResult" type="tns:ArrayOfTipoApoderado" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTipoApoderado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TipoApoderado" nillable="true" type="tns:TipoApoderado" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TipoApoderado">
        <s:complexContent mixed="false">
          <s:extension base="tns:Disposed">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id_TipodeApoderado" type="s:unsignedByte" />
              <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="PoderTramitar" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="PoderPercibir" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="TraeSubTipoApoderado">
        <s:complexType />
      </s:element>
      <s:element name="TraeSubTipoApoderadoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraeSubTipoApoderadoResult" type="tns:ArrayOfSubTipoApoderado" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSubTipoApoderado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SubTipoApoderado" nillable="true" type="tns:SubTipoApoderado" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SubTipoApoderado">
        <s:complexContent mixed="false">
          <s:extension base="tns:Disposed">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Id_STipodeApoderado" type="s:unsignedByte" />
              <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="TraeTipoDocumentacion">
        <s:complexType />
      </s:element>
      <s:element name="TraeTipoDocumentacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraeTipoDocumentacionResult" type="tns:ArrayOfTipoDocumentacion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTipoDocumentacion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TipoDocumentacion" nillable="true" type="tns:TipoDocumentacion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TipoDocumentacion">
        <s:complexContent mixed="false">
          <s:extension base="tns:Disposed">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CodTipoDocumentacion" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="TraeTodoTipoDocumentacionPrestacion">
        <s:complexType />
      </s:element>
      <s:element name="TraeTodoTipoDocumentacionPrestacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraeTodoTipoDocumentacionPrestacionResult" type="tns:ArrayOfTipoDocumentacion_Prestacion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTipoDocumentacion_Prestacion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TipoDocumentacion_Prestacion" nillable="true" type="tns:TipoDocumentacion_Prestacion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TipoDocumentacion_Prestacion">
        <s:complexContent mixed="false">
          <s:extension base="tns:Disposed">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Prestacion" type="tns:Prestacion" />
              <s:element minOccurs="0" maxOccurs="1" name="TDocumentacion" type="tns:TipoDocumentacion" />
              <s:element minOccurs="1" maxOccurs="1" name="RequeridoInicioTramite" type="s:boolean" />
              <s:element minOccurs="0" maxOccurs="1" name="Comentario" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="Traer_TipoDocumento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="soloFrecuentes" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Traer_TipoDocumentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Traer_TipoDocumentoResult" type="tns:ArrayOfTipoDocumento" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTipoDocumento">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TipoDocumento" nillable="true" type="tns:TipoDocumento" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TipoDocumento">
        <s:complexContent mixed="false">
          <s:extension base="tns:Disposed">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CodigoDocumento" type="s:short" />
              <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Abreviatura" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Frecuente" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="TraeEstados">
        <s:complexType />
      </s:element>
      <s:element name="TraeEstadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraeEstadosResult" type="tns:ArrayOfEstado" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEstado">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Estado" nillable="true" type="tns:Estado" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Estado">
        <s:complexContent mixed="false">
          <s:extension base="tns:Disposed">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Cod_estado" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="TraeProvincias">
        <s:complexType />
      </s:element>
      <s:element name="TraeProvinciasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraeProvinciasResult" type="tns:ArrayOfProvincia" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProvincia">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Provincia" nillable="true" type="tns:Provincia" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Provincia">
        <s:complexContent mixed="false">
          <s:extension base="tns:Disposed">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CodProvincia" type="s:short" />
              <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="TraeMotivosDenegacion">
        <s:complexType />
      </s:element>
      <s:element name="TraeMotivosDenegacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraeMotivosDenegacionResult" type="tns:ArrayOfMotivoDenegacion" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMotivoDenegacion">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MotivoDenegacion" nillable="true" type="tns:MotivoDenegacion" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MotivoDenegacion">
        <s:complexContent mixed="false">
          <s:extension base="tns:Disposed">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="CodMotivo" type="s:short" />
              <s:element minOccurs="0" maxOccurs="1" name="Descripcion" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="TraeLocalidadesXProvincia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codProvincia" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TraeLocalidadesXProvinciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TraeLocalidadesXProvinciaResult" type="tns:ArrayOfLocalidad" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLocalidad">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Localidad" nillable="true" type="tns:Localidad" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Localidad">
        <s:complexContent mixed="false">
          <s:extension base="tns:Disposed">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Cod_Localidad" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="DescripcionLocalidad" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CodPostal" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="AMTipodeDocumentacion_Prestacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codTipoDocumentacion" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="codPrestacion" type="s:short" />
            <s:element minOccurs="0" maxOccurs="1" name="comentario" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="requeridoinicioTramite" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AMTipodeDocumentacion_PrestacionResponse">
        <s:complexType />
      </s:element>
      <s:element name="AMTiposdeDocumentacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codTipoDocumentacion" nillable="true" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="descripcion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AMTiposdeDocumentacionResponse">
        <s:complexType />
      </s:element>
      <s:element name="BajaTipodeDocumentacion_Prestacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="codTipoDocumentacion" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="codPrestacion" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BajaTipodeDocumentacion_PrestacionResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VersionSistemaSoapIn">
    <wsdl:part name="parameters" element="tns:VersionSistema" />
  </wsdl:message>
  <wsdl:message name="VersionSistemaSoapOut">
    <wsdl:part name="parameters" element="tns:VersionSistemaResponse" />
  </wsdl:message>
  <wsdl:message name="TraerPrestacionesSoapIn">
    <wsdl:part name="parameters" element="tns:TraerPrestaciones" />
  </wsdl:message>
  <wsdl:message name="TraerPrestacionesSoapOut">
    <wsdl:part name="parameters" element="tns:TraerPrestacionesResponse" />
  </wsdl:message>
  <wsdl:message name="TraerTiposTramiteConveniosSoapIn">
    <wsdl:part name="parameters" element="tns:TraerTiposTramiteConvenios" />
  </wsdl:message>
  <wsdl:message name="TraerTiposTramiteConveniosSoapOut">
    <wsdl:part name="parameters" element="tns:TraerTiposTramiteConveniosResponse" />
  </wsdl:message>
  <wsdl:message name="TraeTramitesDerivadosSoapIn">
    <wsdl:part name="parameters" element="tns:TraeTramitesDerivados" />
  </wsdl:message>
  <wsdl:message name="TraeTramitesDerivadosSoapOut">
    <wsdl:part name="parameters" element="tns:TraeTramitesDerivadosResponse" />
  </wsdl:message>
  <wsdl:message name="Traer_TipoIngresoSoapIn">
    <wsdl:part name="parameters" element="tns:Traer_TipoIngreso" />
  </wsdl:message>
  <wsdl:message name="Traer_TipoIngresoSoapOut">
    <wsdl:part name="parameters" element="tns:Traer_TipoIngresoResponse" />
  </wsdl:message>
  <wsdl:message name="TraePaises2SoapIn">
    <wsdl:part name="parameters" element="tns:TraePaises2" />
  </wsdl:message>
  <wsdl:message name="TraePaises2SoapOut">
    <wsdl:part name="parameters" element="tns:TraePaises2Response" />
  </wsdl:message>
  <wsdl:message name="TraeCiudadesExtXPaisSoapIn">
    <wsdl:part name="parameters" element="tns:TraeCiudadesExtXPais" />
  </wsdl:message>
  <wsdl:message name="TraeCiudadesExtXPaisSoapOut">
    <wsdl:part name="parameters" element="tns:TraeCiudadesExtXPaisResponse" />
  </wsdl:message>
  <wsdl:message name="TraeSectoresSoapIn">
    <wsdl:part name="parameters" element="tns:TraeSectores" />
  </wsdl:message>
  <wsdl:message name="TraeSectoresSoapOut">
    <wsdl:part name="parameters" element="tns:TraeSectoresResponse" />
  </wsdl:message>
  <wsdl:message name="TraeTipoApoderadoSoapIn">
    <wsdl:part name="parameters" element="tns:TraeTipoApoderado" />
  </wsdl:message>
  <wsdl:message name="TraeTipoApoderadoSoapOut">
    <wsdl:part name="parameters" element="tns:TraeTipoApoderadoResponse" />
  </wsdl:message>
  <wsdl:message name="TraeSubTipoApoderadoSoapIn">
    <wsdl:part name="parameters" element="tns:TraeSubTipoApoderado" />
  </wsdl:message>
  <wsdl:message name="TraeSubTipoApoderadoSoapOut">
    <wsdl:part name="parameters" element="tns:TraeSubTipoApoderadoResponse" />
  </wsdl:message>
  <wsdl:message name="TraeTipoDocumentacionSoapIn">
    <wsdl:part name="parameters" element="tns:TraeTipoDocumentacion" />
  </wsdl:message>
  <wsdl:message name="TraeTipoDocumentacionSoapOut">
    <wsdl:part name="parameters" element="tns:TraeTipoDocumentacionResponse" />
  </wsdl:message>
  <wsdl:message name="TraeTodoTipoDocumentacionPrestacionSoapIn">
    <wsdl:part name="parameters" element="tns:TraeTodoTipoDocumentacionPrestacion" />
  </wsdl:message>
  <wsdl:message name="TraeTodoTipoDocumentacionPrestacionSoapOut">
    <wsdl:part name="parameters" element="tns:TraeTodoTipoDocumentacionPrestacionResponse" />
  </wsdl:message>
  <wsdl:message name="Traer_TipoDocumentoSoapIn">
    <wsdl:part name="parameters" element="tns:Traer_TipoDocumento" />
  </wsdl:message>
  <wsdl:message name="Traer_TipoDocumentoSoapOut">
    <wsdl:part name="parameters" element="tns:Traer_TipoDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="TraeEstadosSoapIn">
    <wsdl:part name="parameters" element="tns:TraeEstados" />
  </wsdl:message>
  <wsdl:message name="TraeEstadosSoapOut">
    <wsdl:part name="parameters" element="tns:TraeEstadosResponse" />
  </wsdl:message>
  <wsdl:message name="TraeProvinciasSoapIn">
    <wsdl:part name="parameters" element="tns:TraeProvincias" />
  </wsdl:message>
  <wsdl:message name="TraeProvinciasSoapOut">
    <wsdl:part name="parameters" element="tns:TraeProvinciasResponse" />
  </wsdl:message>
  <wsdl:message name="TraeMotivosDenegacionSoapIn">
    <wsdl:part name="parameters" element="tns:TraeMotivosDenegacion" />
  </wsdl:message>
  <wsdl:message name="TraeMotivosDenegacionSoapOut">
    <wsdl:part name="parameters" element="tns:TraeMotivosDenegacionResponse" />
  </wsdl:message>
  <wsdl:message name="TraeLocalidadesXProvinciaSoapIn">
    <wsdl:part name="parameters" element="tns:TraeLocalidadesXProvincia" />
  </wsdl:message>
  <wsdl:message name="TraeLocalidadesXProvinciaSoapOut">
    <wsdl:part name="parameters" element="tns:TraeLocalidadesXProvinciaResponse" />
  </wsdl:message>
  <wsdl:message name="AMTipodeDocumentacion_PrestacionSoapIn">
    <wsdl:part name="parameters" element="tns:AMTipodeDocumentacion_Prestacion" />
  </wsdl:message>
  <wsdl:message name="AMTipodeDocumentacion_PrestacionSoapOut">
    <wsdl:part name="parameters" element="tns:AMTipodeDocumentacion_PrestacionResponse" />
  </wsdl:message>
  <wsdl:message name="AMTiposdeDocumentacionSoapIn">
    <wsdl:part name="parameters" element="tns:AMTiposdeDocumentacion" />
  </wsdl:message>
  <wsdl:message name="AMTiposdeDocumentacionSoapOut">
    <wsdl:part name="parameters" element="tns:AMTiposdeDocumentacionResponse" />
  </wsdl:message>
  <wsdl:message name="BajaTipodeDocumentacion_PrestacionSoapIn">
    <wsdl:part name="parameters" element="tns:BajaTipodeDocumentacion_Prestacion" />
  </wsdl:message>
  <wsdl:message name="BajaTipodeDocumentacion_PrestacionSoapOut">
    <wsdl:part name="parameters" element="tns:BajaTipodeDocumentacion_PrestacionResponse" />
  </wsdl:message>
  <wsdl:portType name="AuxiliaresWSSoap">
    <wsdl:operation name="VersionSistema">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Trae version del sitio</wsdl:documentation>
      <wsdl:input message="tns:VersionSistemaSoapIn" />
      <wsdl:output message="tns:VersionSistemaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerPrestaciones">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Trae listado de Prestaciones</wsdl:documentation>
      <wsdl:input message="tns:TraerPrestacionesSoapIn" />
      <wsdl:output message="tns:TraerPrestacionesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraerTiposTramiteConvenios">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Trae listado de Tipos de tramite expediente por pais y prestacion</wsdl:documentation>
      <wsdl:input message="tns:TraerTiposTramiteConveniosSoapIn" />
      <wsdl:output message="tns:TraerTiposTramiteConveniosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraeTramitesDerivados">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Trae tramites derivados</wsdl:documentation>
      <wsdl:input message="tns:TraeTramitesDerivadosSoapIn" />
      <wsdl:output message="tns:TraeTramitesDerivadosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Traer_TipoIngreso">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Trae listado de Tipos de Ingreso</wsdl:documentation>
      <wsdl:input message="tns:Traer_TipoIngresoSoapIn" />
      <wsdl:output message="tns:Traer_TipoIngresoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraePaises2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Trae listado de Paises 2 Extranjero</wsdl:documentation>
      <wsdl:input message="tns:TraePaises2SoapIn" />
      <wsdl:output message="tns:TraePaises2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraeCiudadesExtXPais">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Trae listado de ciudades extranjera por codigo de pais 3 c</wsdl:documentation>
      <wsdl:input message="tns:TraeCiudadesExtXPaisSoapIn" />
      <wsdl:output message="tns:TraeCiudadesExtXPaisSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraeSectores">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Trae listado de Sectores</wsdl:documentation>
      <wsdl:input message="tns:TraeSectoresSoapIn" />
      <wsdl:output message="tns:TraeSectoresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraeTipoApoderado">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Trae listado de Tipo Apoderado</wsdl:documentation>
      <wsdl:input message="tns:TraeTipoApoderadoSoapIn" />
      <wsdl:output message="tns:TraeTipoApoderadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraeSubTipoApoderado">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Trae listado de  Sub Tipos de Apoderado</wsdl:documentation>
      <wsdl:input message="tns:TraeSubTipoApoderadoSoapIn" />
      <wsdl:output message="tns:TraeSubTipoApoderadoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraeTipoDocumentacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Trae listado de TipoDocumentacion</wsdl:documentation>
      <wsdl:input message="tns:TraeTipoDocumentacionSoapIn" />
      <wsdl:output message="tns:TraeTipoDocumentacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraeTodoTipoDocumentacionPrestacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Trae listado de tipos de Documentacion y su prestacion asociada</wsdl:documentation>
      <wsdl:input message="tns:TraeTodoTipoDocumentacionPrestacionSoapIn" />
      <wsdl:output message="tns:TraeTodoTipoDocumentacionPrestacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Traer_TipoDocumento">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Trae listado de tipos de Documento</wsdl:documentation>
      <wsdl:input message="tns:Traer_TipoDocumentoSoapIn" />
      <wsdl:output message="tns:Traer_TipoDocumentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraeEstados">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Trae listado de Estados</wsdl:documentation>
      <wsdl:input message="tns:TraeEstadosSoapIn" />
      <wsdl:output message="tns:TraeEstadosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraeProvincias">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Trae listado de Tipos de Provincias</wsdl:documentation>
      <wsdl:input message="tns:TraeProvinciasSoapIn" />
      <wsdl:output message="tns:TraeProvinciasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraeMotivosDenegacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Trae listado de motivos denegacion</wsdl:documentation>
      <wsdl:input message="tns:TraeMotivosDenegacionSoapIn" />
      <wsdl:output message="tns:TraeMotivosDenegacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TraeLocalidadesXProvincia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Trae listado de Localidades X Provincia</wsdl:documentation>
      <wsdl:input message="tns:TraeLocalidadesXProvinciaSoapIn" />
      <wsdl:output message="tns:TraeLocalidadesXProvinciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AMTipodeDocumentacion_Prestacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">AMTipodeDocumentacion_Prestacion</wsdl:documentation>
      <wsdl:input message="tns:AMTipodeDocumentacion_PrestacionSoapIn" />
      <wsdl:output message="tns:AMTipodeDocumentacion_PrestacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AMTiposdeDocumentacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">AMTiposdeDocumentacion</wsdl:documentation>
      <wsdl:input message="tns:AMTiposdeDocumentacionSoapIn" />
      <wsdl:output message="tns:AMTiposdeDocumentacionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BajaTipodeDocumentacion_Prestacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">BajaTipodeDocumentacion_Prestacion</wsdl:documentation>
      <wsdl:input message="tns:BajaTipodeDocumentacion_PrestacionSoapIn" />
      <wsdl:output message="tns:BajaTipodeDocumentacion_PrestacionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AuxiliaresWSSoap" type="tns:AuxiliaresWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VersionSistema">
      <soap:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/VersionSistema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerPrestaciones">
      <soap:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/TraerPrestaciones" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTiposTramiteConvenios">
      <soap:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/TraerTiposTramiteConvenios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeTramitesDerivados">
      <soap:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/TraeTramitesDerivados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Traer_TipoIngreso">
      <soap:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/Traer_TipoIngreso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraePaises2">
      <soap:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/TraePaises2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeCiudadesExtXPais">
      <soap:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/TraeCiudadesExtXPais" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeSectores">
      <soap:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/TraeSectores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeTipoApoderado">
      <soap:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/TraeTipoApoderado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeSubTipoApoderado">
      <soap:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/TraeSubTipoApoderado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeTipoDocumentacion">
      <soap:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/TraeTipoDocumentacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeTodoTipoDocumentacionPrestacion">
      <soap:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/TraeTodoTipoDocumentacionPrestacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Traer_TipoDocumento">
      <soap:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/Traer_TipoDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeEstados">
      <soap:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/TraeEstados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeProvincias">
      <soap:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/TraeProvincias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeMotivosDenegacion">
      <soap:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/TraeMotivosDenegacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeLocalidadesXProvincia">
      <soap:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/TraeLocalidadesXProvincia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AMTipodeDocumentacion_Prestacion">
      <soap:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/AMTipodeDocumentacion_Prestacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AMTiposdeDocumentacion">
      <soap:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/AMTiposdeDocumentacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaTipodeDocumentacion_Prestacion">
      <soap:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/BajaTipodeDocumentacion_Prestacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AuxiliaresWSSoap12" type="tns:AuxiliaresWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VersionSistema">
      <soap12:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/VersionSistema" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerPrestaciones">
      <soap12:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/TraerPrestaciones" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraerTiposTramiteConvenios">
      <soap12:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/TraerTiposTramiteConvenios" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeTramitesDerivados">
      <soap12:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/TraeTramitesDerivados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Traer_TipoIngreso">
      <soap12:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/Traer_TipoIngreso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraePaises2">
      <soap12:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/TraePaises2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeCiudadesExtXPais">
      <soap12:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/TraeCiudadesExtXPais" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeSectores">
      <soap12:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/TraeSectores" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeTipoApoderado">
      <soap12:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/TraeTipoApoderado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeSubTipoApoderado">
      <soap12:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/TraeSubTipoApoderado" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeTipoDocumentacion">
      <soap12:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/TraeTipoDocumentacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeTodoTipoDocumentacionPrestacion">
      <soap12:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/TraeTodoTipoDocumentacionPrestacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Traer_TipoDocumento">
      <soap12:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/Traer_TipoDocumento" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeEstados">
      <soap12:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/TraeEstados" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeProvincias">
      <soap12:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/TraeProvincias" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeMotivosDenegacion">
      <soap12:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/TraeMotivosDenegacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TraeLocalidadesXProvincia">
      <soap12:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/TraeLocalidadesXProvincia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AMTipodeDocumentacion_Prestacion">
      <soap12:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/AMTipodeDocumentacion_Prestacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AMTiposdeDocumentacion">
      <soap12:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/AMTiposdeDocumentacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BajaTipodeDocumentacion_Prestacion">
      <soap12:operation soapAction="http://AnsesConveniosInternacionalesX5.anses.gov.ar/BajaTipodeDocumentacion_Prestacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AuxiliaresWS">
    <wsdl:port name="AuxiliaresWSSoap" binding="tns:AuxiliaresWSSoap">
      <soap:address location="http://10.86.30.215/Convenios_WS/AuxiliaresWS.asmx" />
    </wsdl:port>
    <wsdl:port name="AuxiliaresWSSoap12" binding="tns:AuxiliaresWSSoap12">
      <soap12:address location="http://10.86.30.215/Convenios_WS/AuxiliaresWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>